node_modules/
dist/
.env
uploads/*
!uploads/.gitkeep

# Logs
logs/*
!logs/.gitkeep
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Prisma
prisma/migrations/

# Build
*.tsbuildinfo
